<header>
    <link rel="stylesheet" href="/css/header.css">

    <nav>
        <div id="brand">
            <div id="logo">
                <img src="/images/logo.png" alt="logo" />
            </div>
            <h3>Employee <span>Review</span> System</h3>
        </div>
        

    <div class="list_item">
        <ul>
            <% if (locals.user){ %>
            <li>
                <a href="/user/employee"><%= user.name %></a>
            </li>
            <li>
                <a href="/user/sign_out">Sign Out</a>
            </li>
            <% } %>
        </ul>
    </div>

</nav>
</header>