

<h1>Star rating </h1>

<div class="rating">
  <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
  <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
  <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
  <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
  <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
</div> 
.rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	>input {
		display: none;
		&:checked {
			~ {
				label {
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
	>label {
		position: relative;
		width: 1em;
		font-size: 6vw;
		color: #FFD600;
		cursor: pointer;
		&::before {
			content: "\2605";
			position: absolute;
			opacity: 0;
		}
		&:hover {
			&:before {
				opacity: 1 !important;
			}
			~ {
				label {
					&:before {
						opacity: 1 !important;
					}
				}
			}
		}
	}
	&:hover {
		>input {
			&:checked {
				~ {
					label {
						&:before {
							opacity: 0.4;
						}
					}
				}
			}
		}
	}
}
body {
	background: #222225;
	color: white;
}
h1 {
	text-align: center;
	margin-top: 150px;
}
p {
	text-align: center;
	font-size: 1.2rem;
}
@media only screen and (max-width: 600px) {
	h1 {
		font-size: 14px;
	}
	p {
		font-size: 12px;
	}
}
