<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h2 class="display-3 -5fw-bold ls-tight">
              Employee <br />
              <span class="text-primary">Feedback</span>
            </h2>
            <img src="/images/poster.jpg" width="100%">
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <h2 class="mb-4">Please Sigin</h2>
                <form action="/user/createsession" method="post">
                    <div class="form-outline mb-2">
                      <input type="email" name="email"  placeholder="Employee Email"  class="form-control" />
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-2">
                        <input type="password" name="password" class="form-control"  placeholder="Password" />
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4 float-end" placeholder="Confirm Password">
                        Sign In
                    </button>
                </form>   
                <div style="width: 99%;display:flex;justify-content: space-between;">
                    <div>Create New Account ?</div>
                    <div><a href="/user/sign_up">Register</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->