@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
header{
    nav{
        
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        background: #fff;
        color:#393e467d;
        box-shadow: 1px 1px 1px 2px #006cb6;

        .logo{
            #img{
                width: 140px;
            }

            p{
                width: 140px;
                margin: 5px;
                font-size: 1.4rem;
                font-weight: bold;
            }
        }

        .list_item{
            ul{
                display: flex;
                list-style: none;
                margin-top: 30px;
                li{
                    margin-right: 10px;
                }
            }
        }

        a{
            color:#006cb6;
            text-decoration: none;
        }

    }
}
