@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
header{
    margin-bottom: 100px;
    nav{
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        background: #fff;
        color: #393e467d;
        position: fixed;
        top: 0;
        box-shadow: 1px 1px 1px 2px #006cb6;
        width: 100%;
        #brand{
            display: flex;
            #logo{
                margin-top: 5px;
                img{
                    width: 50px;
                }
            }
            h3{
                color :#91c640;
                margin-top: 24px;
                span{
                    color: #006cb6;
                }
            }
        }
        

        .list_item{
            ul{
                display: flex;
                list-style: none;
                margin-top: 30px;
                li{
                    margin-right: 10px;
                }
            }
        }

        a{
            color:#006cb6;
            text-decoration: none;
        }

    }
}
