header{
    color:#fff;

    nav{
        height: 70px;
        width: 100%;
        margin: 0%;
        background-color:#393e467d;

        h1{
            margin: 0;
            text-decoration: line-through;
        }
    }
}