#main-container #make-admin {
  margin: 25px;
  height: 20px;
  position: relative; }

#main-container #employee-conainer {
  padding: 25px;
  background: lavender;
  margin: 25px;
  border-radius: 10px; }
  #main-container #employee-conainer h2 {
    color: cadetblue; }
  #main-container #employee-conainer #employee-detail form label {
    font-weight: bold; }

#main-container #employee-review-form-container {
  margin: 25px; }
  #main-container #employee-review-form-container #add-review-button {
    text-align: center;
    margin: 10px; }
  #main-container #employee-review-form-container #review-form {
    display: none;
    background: lavender;
    padding: 25px; }

#main-container #performance-view-container {
  background: lavender;
  margin: 25px;
  padding: 25px;
  border-radius: 10px; }
  #main-container #performance-view-container .performance-box {
    background: blanchedalmond;
    margin: 10px;
    padding: 10px; }
    #main-container #performance-view-container .performance-box .emp-detail {
      display: flex;
      justify-content: space-between; }
      #main-container #performance-view-container .performance-box .emp-detail .detail {
        flex: auto;
        margin-left: 30px;
        color: #006cb6; }
        #main-container #performance-view-container .performance-box .emp-detail .detail span {
          color: #375f7f; }
      #main-container #performance-view-container .performance-box .emp-detail .other {
        display: flex;
        flex-direction: column; }
        #main-container #performance-view-container .performance-box .emp-detail .other .created-by {
          color: #006cb6; }
          #main-container #performance-view-container .performance-box .emp-detail .other .created-by span {
            color: #375f7f; }

#main-container #assigningReview {
  display: none;
  position: fixed;
  z-index: 10;
  width: 99%;
  background: whitesmoke;
  top: 80px;
  left: 0px;
  border-radius: 10px;
  border: solid 4px #006cb6;
  margin: 5px;
  padding: 6px;
  height: 490px;
  overflow: auto; }

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end; }
  .rating > input {
    display: none; }
    .rating > input:checked ~ label:before {
      opacity: 1; }
  .rating > label {
    position: relative;
    font-size: x-large;
    color: #006cb6;
    cursor: pointer; }
    .rating > label::before {
      content: "\2605";
      position: absolute;
      opacity: 0; }
